.city_search_btn--search, .validation_btn{
display: flex;
align-content: center;
justify-content: center;
text-align: center;
background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
height: 50px;
border-radius: 20px;
color: white;
width: 218px;
box-shadow: 2px 2px 2px darken($quinarycolor, 10%);
font-weight:700;
margin: auto;
@media screen and (max-width: 700px) {
max-width: 280px; 
font-size: 0.7rem;
display: flex;
text-align: center;
justify-content: center;
align-content: center;
border: none;
margin: auto;
}


/** Bouton mode d'emploi restaurant page une**/
}
.btn_restaurant{
  display: grid;
  align-content: flex-start;
  text-align: center;
  justify-items: center;
  align-items: center;
  width: 250px;
height: 50px;
font-weight: 900;
border: none;
background: $quaternarycolor;
box-shadow: 8px 4px 8px darken($quaternarycolor, 30%);
border-radius: 20px;
justify-items: center;
align-items: center;
margin:auto;
display: grid;
align-content: flex-start;
text-align: center;
grid-template-rows: auto;
grid-template-columns: 50px 10% 70%;
position: relative;
z-index: 1;
@media screen and (max-width: 1000px) {
width: 200px;
}
@media screen and (max-width: 900px) {
  width: 180px;
  grid-template-columns: 35px 5% auto;
  }
  @media screen and (max-width: 750px) {
  width: 348px;
  grid-template-columns: 50px 5% auto;
    }
  @media screen and (max-width: 500px) {
  width: 250px;
  grid-template-columns: 50px 5% auto;
  }
  
&:hover {
    color: white;
    .awesome_restaurant{
      color: $primarycolor;
      }
      &::after {
        border-radius: 20px;
          opacity: 0.45;
          
      }
  }
&::after {
    border-radius: 20px;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: lighten($primarycolor,5%);
      opacity: 0,45;
      z-index: -1;
      transition: opacity 250ms;
  }
}
.validation_btn{
grid-column: 1 / 4;
grid-row: 5;

}

.number{
  width: 10px;
  padding: 10px;
  height: 10px;
  margin-right: 40px;
  border-radius: 100px;
  font-size: 10px;
  background-color: $primarycolor;
  grid-column: 1;
  @media screen and (max-width: 700px) {
  width: 10px;
  padding: 10px;
  height: 10px;
  font-size: 5px;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;   
  }
  @media screen and (max-width: 500px) {
    width: 8px;
    padding: 8px;
    height: 8px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;   
  }
  }
  
  .awesome_restaurant{
  
  padding: 0 2vw 0 0.5vw;
  }