.city_search_btn--search, .validation_btn{
display: flex;
align-content: center;
justify-content: center;
background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
height: 50px;
border-radius: 20px;
color: white;
width: 218px;
box-shadow: 2px 2px 2px darken($quinarycolor, 10%);
font-weight:700;
margin: auto;
@media screen and (max-width: 700px) {
max-width: 280px; 
font-size: 0.7rem;
display: flex;
text-align: center;
justify-content: center;
align-content: center;
border: none;
margin: auto;
}
}
.btn_restaurant{
width: max-content;
text-overflow: clip;
height: 50px;
font-weight: bolder;
border: none;
font-size: 0.7em;
background-color: $quaternarycolor;
border-radius: 20px;
justify-items: center;
align-items: center;
margin:auto;
display: grid;
grid-template-rows: auto;
grid-template-columns: 1px 20% auto;
@media screen and (max-width: 700px) {
width: 85vw;
padding-right: 4vw;
font-size: 1em;
display: flex;
justify-content: space-around;

&:hover {
    border-radius: 20px;
      &::after {
        border-radius: 20px;
          opacity: 1;
      }
  }
}
&::after {
    border-radius: 20px;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: lighten($primarycolor, 30%) 0%;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
  }
}
.validation_btn{
grid-column: 1 / 4;
grid-row: 5;

}

