.texte{
font-family: "roboto";
color: black;
font-size-adjust: inherit;
text-overflow: ellipsis;

}
.title{
font-weight: bolder;
font-family: "roboto";
color: black;
font-size-adjust: inherit;
text-overflow: ellipsis;
}
.number{
font-family: "roboto";
font-size: 1em;
color: white;
}
a{
text-decoration: none;
color: white;
}
